
/* -------- -------- -------- -------- */

body {
  font: 19px/30px 'Courier', 'Consolas', monospace;
  letter-spacing: -0.33px;
  background: hsl(40, 2%, 66%);
  margin: 30px 26px 30px 290px;
  min-width: 880px;
  max-width: 1000px;
}

body #introduction {
  position: absolute;
  top: -30px;
}


body.loading #discuss,
body.loading #introduction_section,
body.loading article.blob {
  opacity: 0;
}

body.ready #discuss,
body.ready #introduction_section,
body.ready article.blob {
  opacity: 1;
  transition: opacity 300ms linear 300ms;
}

/* -------- -------- -------- -------- */

#title {
  margin: 60px 500px 20px 0px;
}

#title h1 {
  padding-left: 96px;
  margin: 0;
  margin-left: 10px;
  font-weight: normal;
}

#title #minilock_file_icon {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 120px;
}

#title .versions {

  overflow: hidden;
  height: 60px;
  width: 40ex;
  padding: 0;
  margin: 0 0 0 96px;
}
#title .versions > div {
  display: inline-block;
  padding-left: 10px;
  /*outline: 1px solid white;*/
}

body.v1.loading #title div.draft.version {
  margin-left: 0;
  opacity: 1;
  transition: none;
}
body.v1.ready #title div.draft.version {
  margin-left: 8ex;
  opacity: 0;
  transition: margin-left 300ms ease-in, opacity 250ms ease-in;
}
body.v1.ready #title:hover div.draft.version {
  margin-left: 0;
  opacity: 1;
  transition: margin-left 300ms ease-out 150ms, opacity 250ms ease-out 150ms;
}

body.v2.loading #title .versions > div:first-child {
  margin-left: 0;
  transition: none;
}
body.v2.ready #title .versions > div:first-child {
  margin-left: -15ex;
  transition: margin-left 300ms ease-out;
}
body.v2.ready #title:hover .versions > div:first-child {
  margin-left: 0;
  transition: margin-left 300ms ease-out 150ms;
}

#title .version a {
  text-decoration: none;
}
#title .version a:link {
  text-decoration: underline;
}
#title .version a label {
  text-decoration: none;
}

/* -------- -------- -------- -------- */

#discuss {
  position: absolute;
  margin: 0;
}

/* -------- -------- -------- -------- */

#introduction_section {
  margin-top: 90px;
}

/* -------- -------- -------- -------- */

#decrypt_keys {
  border-radius: 10px;
  overflow:hidden;
  border: 1px solid hsla(0, 0%, 0%, 0.33);
  margin: 19px -1px;
  margin-right: 135px;
}

#decrypt_keys div.named_key {
  height: 41px;
  border-top: 1px solid hsla(0, 0%, 0%, 0.33);
  margin: -1px 0px 0px;
}

a.secret_key {
  display: block;
  padding: 5px 10px 5px 10px;
  vertical-align: top;
  color: hsla(0, 0%, 0%, 0.33);
  background-color: hsl(0, 0%, 80%);
  background-image: url(faces.png);
  background-position: 10px center;
  background-repeat: no-repeat;
  transition: background-color 100ms linear;
}
a.secret_key label {
  color: black;
  margin-left: 3.5ex;
}
a.secret_key span.byte_stream_size {
  margin-left: 1ex;
}
a.secret_key:hover {
  cursor: default;
  background-color: hsl(40, 45%, 80%);
}
a.secret_key.selected {
  background-color: hsl(40, 45%, 80%);
}
a.secret_key.fits {
  background-position: 10px bottom;
}
a.secret_key.jams {
  background-position: 10px top;
}

/* -------- -------- -------- -------- */

#decrypt_status {
  height: 30px;
  overflow: hidden;
  margin: 15px 0;

}
#decrypt_status em {
  font-style: normal;
  padding: 2px 5px 2px 7px;
  border: 1px solid hsla(0, 0%, 0%, 0.33);
}
#decrypt_status > div.expired em {
  background-color: hsla(0, 0%, 100%, 0);
}
#decrypt_status > div {
  min-height: 30px;
}
#decrypt_status > div.expired {
  opacity: 0.5;
}
#decrypt_status > div.outgoing {
  margin-top: -30px;
  transition: margin-top 200ms ease-out 100ms;
}

/* -------- -------- -------- -------- */

#unencrypted_summary,
#decrypt_summary {
  /*box-shadow: 0px 1px 5px hsla(0, 0%, 0%, 0.33);*/
  margin: 20px 0px 20px 0;
}
#unencrypted_summary pre,
#decrypt_summary pre {
  padding: 5px 10px 5px;
  margin: 0;
  overflow: hidden;
}


#unencrypted_summary b.size_graphic {
  display: inline-block;
  background: hsla(0, 0%, 0%, 0.33);
  border: 1px dotted hsla(0, 0%, 0%, 0.5);
  height: 12px;
  vertical-align: middle;
  margin-top: -3px;
}

#unencrypted_summary label,
#unencrypted_summary span.encoded_permit {
  color: hsla(0, 0%, 0%, 0.33);
}


#unencrypted_summary pre {
  background: hsl(0, 0%, 80%);
}

#decrypt_summary.empty {
  border-color: hsl(350, 45%, 66%);
}
#decrypt_summary pre:first-child {
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
  padding: 5px 10px 4px;
}
#decrypt_summary div.header,
#decrypt_summary div.ciphertext {
  transition: all 300ms linear;
}
#decrypt_summary.empty div.header,
#decrypt_summary.empty div.ciphertext {
  color: hsl(0, 0%, 50%);
  background-color: hsl(0, 0%, 70%);
}

#decrypt_summary {
  margin-left: 0px;
  margin: 20px 0;
}
#decrypt_summary img.file_icon {
  display: block;
  position: absolute; left: 10px; top: 10px;
  height: 270px;
}
#decrypt_summary pre {
  margin-left: 238px;
}
#decrypt_summary div.ciphertext pre {
  height: 130px;
}
#decrypt_summary div.text {
  position: absolute;
  z-index: 1;
  left: 10px;
  top: 10px;
  width: 216px;
  height: 270px;
  font-size: 29px;
  line-height: 35px;
  overflow: auto;
  padding: 10px 20px;
  word-wrap: break-word;
}


#decrypt_summary div.image {
  position: absolute;
  z-index: 1;
  left: 10px;
  top: 22px;
  width: 216px;
  height: 216px;

}
#decrypt_summary div.image img {
  display: block;
  width: inherit;
  height: inherit;
  border: 5px solid white;
  border-bottom: 35px solid white;
  margin: -5px;
  box-sizing: content-box;
  box-shadow: 0px 0px 2px hsla(0, 0%, 0%, 0.33);
}

#decrypt_summary pre.image {
  padding-left: 130px;
}

/* -------- -------- -------- -------- */

article.blob {
  margin: 0px -1px -1px -1px;
  padding-left: 50px;
  border-left: 1px dotted hsla(0, 0%, 0%, 0.5);
  border-right: 1px dotted hsla(0, 0%, 0%, 0.5);
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
}

article.blob > section {
  padding: 0px 30px;
  border-top: 1px dotted hsla(0, 0%, 0%, 0.5);
  margin-top: -1px;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0);
  margin-bottom: -1px;
}

article.blob > section > h1 > a {
  position: absolute;
  top: -30px;
}

article.blob > section > h1.invisible {
  height: 0px;
  margin: 0px;
  overflow: hidden;
}

#magic_bytes_section {
  height: 240px;
}

#size_of_header_section {
  height: 120px;
}

#header_section {
}

#ciphertext_section {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
}



/* -------- -------- -------- -------- */

div.margin_bytes {
  position: absolute; top: 0px; left: -100px;
  width: 100px;
  z-index: 1;
  overflow: visible;
}
div.margin_bytes .snip {
  border-top: 1px dashed hsl(0, 0%, 33%);
  background: hsl(0, 0%, 66%);
  border-bottom: 1px dashed hsl(0, 0%, 33%);
  border-right: 1px dotted hsl(0, 0%, 33%);
  z-index: 1;
}

div.margin_bytes .byte {
  width: 100px;
  height: 30px;
  color: hsla(0, 0%, 0%, 0.5);
}
div.margin_bytes .index, div.margin_bytes .value {
  width: 50px;
  height: 31px;

}
div.margin_bytes div.index {
  position: absolute; left: 0px; top: 0;
  padding-right: 5px;

}
div.margin_bytes div.value {
  position: absolute; left: 50px; top: 0;
  text-align: right;
  border-top: 1px dotted hsla(0, 0%, 0%, 0.5);
  margin-top: -1px;
}

#ciphertext_section div.margin_bytes div.value:last-child {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
}


/* -------- -------- -------- -------- */

/* -------- -------- -------- -------- */

#scrollgraph {
  width: 11px;
  position: fixed;
  top: 0; bottom: 0; right: 0;
}

/* -------- -------- -------- -------- */

#section_sizes_graphic {
  width: 5px;
  position: fixed;
  top: 0; bottom: 0; left: 0px;
}
