<section id="ciphertext_section"><div class="margin_bytes"></div>
<h1 class="invisible">Ciphertext<a id="ciphertext"></a></h1>
<p>
  The ciphertext in a miniLock file starts at the end of the header and it continues until the end of the file.
  Calculate the ciphertext size with:
</p>
<pre>
Take file size in bytes       + <span id="ciphertext_file_size_in_bytes"></span>
Subtract magic bytes          - 8
Subtract size of header bytes - 4
Subtract header bytes         - <span id="ciphertext_header_size_in_bytes"></span>
Ciphertext size in bytes      = <span id="ciphertext_size_in_bytes"></span>
</pre>
<p>
  The ciphertext in this file starts at <code id="start_of_ciphertext">slot #</code> and ends at <code id="end_of_ciphertext">slot #</code>.
</p>
<p>
  miniLock relies on a <a href="https://github.com/dchest/nacl-stream-js#nacl-stream-streaming-encryption-based-on-tweetnacljs">streaming encryption scheme based on TweetNaCl</a> to encrypt and decrypt its ciphertext.
  <span class="ok">
    The <code>fileKey</code> and <code>fileNonce</code> from <a href="#decrypt_a_permit"><span class="keyholder">?</span>’s permit</a> are required to setup the decryption scheme:
  </span>
  <span class="failed">
    We don’t have the <code>fileKey</code> or the <code>fileNonce</code> because <span class="keyholder">?</span>’s keys didn’t unlock any permits.
  </span>
</p>
<pre>
fileKey:   <span id="ciphertext_file_key"></span>
fileNonce: <span id="ciphertext_file_nonce"></span>
</pre>
<p>
  With these keys on hand we are ready to construct a stream decryptor.
  Configure it to process the ciphertext with a maximum chunk size of 1MB:
</p>
<pre>
maxChunkSize = 1024 * 1024
decryptor = <a href="https://github.com/dchest/nacl-stream-js#streamcreateencryptorkey-nonce-maxchunklength">NaCl.stream.createDecryptor</a>(fileKey, fileNonce, maxChunkSize)
</pre>
<p>
  Also construct a 32-byte BLAKE2 hash to record the decrypted bytestream so that it can be compared with <code>fileHash</code> durring <a href="">integrity verfiication</a>.
</p>
<pre>
hash = new BLAKE2(32)
</pre>

<%- @render "the_first_chunk_in_version_#{@version}" %>
<%- @render "file_name" %>
<%- @render "media_type" if @version is 2 %>
<%- @render "encrypt_time" if @version is 2 %>
<%- @render "decrypt_data_chunks" %>
<%- @render "ciphertext_integrity" %>
</section>
