<h1>Decrypt Data Chunks<a id="decrypt_data_chunks"></a></h1>
<p>
  The ciphertext chunks after <a href="#the_first_chunk">the first chunk</a> contain the complete byte stream of <code>Simple.txt</code>.
  Each chunk is decrypted in squential order so that it can be reassembled into a coherent stream of cleartext at the end of the routine.
</p>
<p>
  First, construct an empty array to collect the <code>decryptedChunks</code>:
</p>
<pre>
decryptedChunks = []
</pre>

<p>
  The encrypted data chunks in this file start at <code id="start_position_of_data_chunks">428</code>
  and end at <code id="end_position_of_data_chunks">slot ?</code>.
</p>

<pre>
startOfChunk   = 1620
endOfChunk     = Math.min(startOfChunk + maxChunkSize + 20, file.size)
isLastChunk    = endOfChunk is file.size
encryptedChunk = file.read(startOfChunk, endOfChunk)
decryptedChunk = <a href="https://github.com/dchest/nacl-stream-js#decryptordecryptchunkencryptedchunk-islast">decryptor.decryptChunk</a>(encryptedChunk, isLastChunk)
decryptedChunks.push(decryptedChunk)
hash.update(decryptedChunk)
# Repeat from endOfChunk if isLastChunk is false
</pre>
