<head>
  <meta charset="utf-8">
  <title>miniLock File Format Version <%= @version %></title>
  <link rel="stylesheet" href="stylesheet.css" charset="utf-8">
  <script src="compiled/miniLockLib.js" charset="utf-8"></script>
  <script src="compiled/async.js" charset="utf-8"></script>
  <script src="compiled/underscore.js" charset="utf-8"></script>
  <script src="compiled/zepto.min.js" charset="utf-8"></script>
  <script src="compiled/summary_of_decrypted_ciphertext.html.js" charset="utf-8"></script>
  <script src="compiled/decrypt_keys.html.js" charset="utf-8"></script>
  <script src="compiled/margin_byte.html.js" charset="utf-8"></script>
  <script src="compiled/unencrypted_summary.html.js" charset="utf-8"></script>
  <script src="compiled/parsed_header.html.js" charset="utf-8"></script>
  <script src="compiled/summary_of_decrypted_header.html.js" charset="utf-8"></script>
  <script src="compiled/characters.js" charset="utf-8"></script>
  <script src="compiled/demo.js" charset="utf-8"></script>
</head>
