<!-- Clone the source code at https://github.com/45678/minilock-file-formats -->
<head>
  <meta charset="utf-8">
  <title>miniLock File Format Version <%= @version %></title>
  <link rel="stylesheet" href="stylesheets/base.css" charset="utf-8">
  <link rel="stylesheet" href="stylesheets/byte_stream.css" charset="utf-8">
  <link rel="stylesheet" href="stylesheets/camera.css" charset="utf-8">
  <link rel="stylesheet" href="stylesheets/input_files.css" charset="utf-8">
  <link rel="stylesheet" href="stylesheets/nav.css" charset="utf-8">
  <link rel="stylesheet" href="stylesheet.css" charset="utf-8">
  <link rel="stylesheet" href="stylesheets/colors.css" charset="utf-8">
  <script src="compiled/miniLockLib.js" charset="utf-8"></script>
  <script src="compiled/async.js" charset="utf-8"></script>
  <script src="compiled/canvas-to-blob.js" charset="utf-8"></script>
  <script src="compiled/underscore.js" charset="utf-8"></script>
  <script src="compiled/zepto.min.js" charset="utf-8"></script>
  <script src="compiled/summary_of_decrypted_ciphertext.html.js" charset="utf-8"></script>
  <script src="compiled/decrypt_keys.html.js" charset="utf-8"></script>
  <script src="compiled/margin_byte.html.js" charset="utf-8"></script>
  <script src="compiled/unencrypted_summary.html.js" charset="utf-8"></script>
  <script src="compiled/parsed_header.html.js" charset="utf-8"></script>
  <script src="compiled/summary_of_decrypted_header.html.js" charset="utf-8"></script>
  <script src="compiled/camera.js" charset="utf-8"></script>
  <script src="compiled/characters.js" charset="utf-8"></script>
  <script src="compiled/input_files.js" charset="utf-8"></script>
  <script src="compiled/demo.js" charset="utf-8"></script>
</head>
