<section id="introduction_section">
  <p>
    These details are available when you inspect a miniLock file without a key:
  </p>
  <div id="unencrypted_summary"></div>
  <p>
    A secret key is required to decrypt the file and see more details.
  </p>
  <p>
    Lets try to open <code id="introduction_minilock_filename">Secret.minilock</code> with one of these keys:
  </p>
  <div id="decrypt_keys"></div>
  <div id="decrypt_status"><div class="empty_placeholder"></div></div>
  <div id="decrypt_summary">
    <pre id="summary_of_decrypted_ciphertext" class="ciphertext"></pre>
    <pre id="summary_of_decrypted_header" class="header"></pre>
  </div>
  <p>Now imagine you are a computer. Still here? OK, proceed:</p>
</section>
