<section id="introduction_section">
  <p>
    This info is available when you inspect a miniLock file without a key:
  </p>

  <div id="minilock_file_summary">
    <svg class="file_size x axis"></svg>
    <dl class="minilock_file_summary">

      <dt>File Size:</dt>
      <dd class="size"><div class="file bar"></div><label class="file">? bytes</label></dd>
      <dt>Header Size:</dt>
      <dd class="size"><div class="header bar"></div><label class="header">? bytes</label></dd>
      <dt>Ciphertext Size:</dt>
      <dd class="size"><div class="ciphertext bar"></div><label class="ciphertext">? bytes</label></dd>
      <dt>miniLock Version:</dt>
      <dd><div id="minilock_file_version">?</div></dd>

      <dt>Ephemeral Key:</dt>
      <dd><div id="minilock_file_empemeral">?</div></dd>
      <dt>Decrypt Info:</dt>
      <dd class="decrypt_info"><div id="minilock_file_decrypt_info">?</div></dd>
    </dl>
  </div>
  <p>
    A secret key is required to see more details and decrypt the file.
  </p>
  <p>
    Lets attempt to open <code id="introduction_minilock_filename">Secret.minilock</code> with one of these keys:
  </p>
  <div id="decrypt_keys"></div>
  <div id="decrypt_status"><div class="empty_placeholder"></div></div>
  <div id="decrypt_summary">
    <div id="summary_of_decrypted_ciphertext" class="ciphertext"></div>
    <div id="summary_of_decrypted_header" class="header"></div>
    <div id="decrypted_file_container"></div>
  </div>
  <p>Now imagine you are a computer. Still here? OK, proceed:</p>
</section>
