
<section id="magic_bytes_section"><div class="margin_bytes"></div>
<h1 class="invisible">Magic Bytes<a id="magic_bytes"></a></h1>
<p>
  The first eight slots of the file are the miniLock magic bytes.
  Please use this unique sequence of bytes to identify miniLock encrypted files in your own computer programs.
</p>
<p>
  Magic Bytes in Base10: <code id="magic_bytes_in_base10"></code><br>
  Magic Bytes in Base16: <code id="magic_bytes_in_base16"></code><br>
</p>
<p>
  The bytes spell <code>miniLock</code> in UTF-8. They are magic!
</p>
</section>
