<h1>The First Chunk <em>152-bytes longer in Version 2</em><a id="the_first_chunk"></a></h1>
<p>
  In version 2, the first chunk of ciphertext is reserved for the file <code>name</code>, <code>type</code> and <code>time</code> attributes.
  The decrypted chunk is always <code>408</code> bytes long.
  The encrypted chunk is <code>428</code> bytes because the encryption scheme adds <code>20</code> bytes.
</p>
<p>Read and decrypt the first chunk of ciphertext like this:</p>
<pre>
startOfCiphertext = <span id="start_of_ciphertext_for_first_chunk"></span>
encryptedChunk = file.read(startOfCiphertext, startOfCiphertext+428)
decryptedChunk = <a href="https://github.com/dchest/nacl-stream-js#decryptordecryptchunkencryptedchunk-islast">decryptor.decryptChunk</a>(encryptedChunk, false)
hash.update(decryptedChunk)
</pre>
