<pre>
File Name:        <%= @miniLockFileName %>
File Size:        <b class="size_graphic" style="width:<%= @miniLockFileSize/4 %>px"></b> <label><%= @miniLockFileSize %> bytes</label>
Header Size:      <b class="header size_graphic" style="width:<%= @sizeOfHeader/4 %>px"></b> <label><%= @sizeOfHeader %> bytes</label>
Ciphertext Size:  <b class="ciphertext size_graphic" style="width:<%= @sizeOfCiphertext/4 %>px"></b> <label><%= @sizeOfCiphertext %> bytes</label>
miniLock Version: <%= @version %>
Ephemeral Key:    <%- @ephemeralKeyHTML %>
Decrypt Info:     <span class="punctuation">{<%= "}" if @encryptedPermits.length is 0 %></span>
<% for permit in @encryptedPermits: %>  <%- permit.nonceHTML %>: <span class="encoded_permit"><%= permit.encoded.substr(0, 36) %>...</span>
<% end %><% if @encryptedPermits.length isnt 0: %><span class="punctuation">}</span><% end %>
</pre>
